<p>Author: <%= item.author %></p>
Tags:
<ul>
    <% for (var key in item.tags) { %>
    <li><%= item.tags[key] %></li>
    <% } %>
</ul>
<div>
    <%= item.description %>
    <% item.img.forEach(function (value) { %>
        <p>
        <% if(typeof(value.localurl) != "undefined" && value.localurl != null) { %>
            <img src="<%= value.localurl %>">
        <% } else { %>
            <img src="<%= value.url %>">
        <% } %>
        </p>
    <% }); %>
</div>
<p>From: <a href="<%= item.detailUrl %>" target="_blank"><%= item.detailUrl %></a></p>