<p>Author: <%= item.author %></p>
Tags:
<ul>
    <% for (var key in item.tags) { %>
    <li><%= item.tags[key] %></li>
    <% } %>
</ul>
<div>
    <%= item.description %>
    <% if(typeof(item.localurl) != "undefined" && item.localurl != null) { %>
    <img src="<%= item.localurl %>">
    <% } else { %>
    <img src="<%= item.url %>">
    <% } %>
</div>
<p>From: <a href="<%= item.detailUrl %>" target="_blank"><%= item.detailUrl %></a></p>